/*FONTS*/

	@font-face {
		font-family: BalooTamma;
		src: url(fonts/BalooTamma-Regular.ttf);
	}

	@font-face {
		font-family: Archivo;
		src: url(fonts/Archivo-SemiBold.ttf);
	}

/*FONTS*/



/*START*/

	body {
		font-family: BalooTamma;
		background-color: #404040;
		margin: 0px;
		transition: .3s;
	}

	#game-container {
		width: 1920px;
		margin: 0px auto;
		background-color: #666666;
		transition: .3s;
	}

	#gameTitle {
		font-size: 100px;
		color: #cccccc;
		margin: 0px 0px;
		background-color: #595959;
		width: 1200px;
		padding: 0px 0px;
		text-align: center;
		transition: 0.3s;
		border-radius: 0px 300px 0px 0px;
		border-left-style: solid;
		border-width: 0px 0px 0px 30px;
		border-color: white;
	}


				
				#gameTitle:hover {
					width: 90%;
					background-color: #d9d9d9;
					color: black;
					cursor: pointer;
					border-color: #000080;
					border-radius: 0px 100px 100px 0px;
				}

				#gameTitle:active {
					border-width: 50px;
					border-color: black;
					transition: 0s;
					width: 1708px;
				}

	#modalStart {
		display: none;
		position: fixed;
		z-index: 1;
		height: 100%;
		width: 100%;
		overflow: auto;
		left: 0px;
		top: 0px;
		background-color: rgba(0,0,0,0.5);
		transition: .3s;
	}

	#modalStartText {
		font-size: 30px;
		background-color: white;
		color: black;
		width: 580px;
		padding: 40px;
		margin: 200px auto 100px auto;
		transition: .3s;
		border-style: solid;
		border-width: 20px;
		border-color: black;
		border-radius: 100px;
	}

				/*To be done#modalStartClose:hover #modalStartText {
					border-color: red;
				}*/

	#modalStartClose {
		font-size: 30px;
		color: #cccccc;
		margin: 100px 0px;
		background-color: #595959;
		width: 200px;
		padding: 20px;
		text-align: center;
		transition: 0.3s;
		border-left-style: solid;
		border-width: 0px 0px 0px 30px;
		border-color: white;
		border-radius: 0px 25px 25px 0px;
		outline: none;
		top: 100px;
		font-family: BalooTamma;
		float: left;
	}

				#modalStartClose:hover {
					width: 500px;
					background-color: white;
					color: black;
					border-color: black;
					border-radius: 0px 100px 100px 0px;
					cursor: pointer;
				}

				#modalStartClose:active {
					border-width: 0px 0px 0px 50px;
					border-color: red;
					transition: 0s;
				}

	#modalStartContinue {
		font-size: 30px;
		color: #cccccc;
		margin: 100px 0px;
		background-color: #595959;
		width: 200px;
		padding: 20px;
		text-align: center;
		transition: 0.3s;
		border-right-style: solid;
		border-width: 0px 30px 0px 0px;
		border-color: white;
		border-radius: 25px 0px 0px 25px;
		outline: none;
		font-family: BalooTamma;
		top: 100px;
		left: 1525px;
		float: right;
	}

				#modalStartContinue:hover {
					cursor: pointer;
					width: 500px;
					background-color: white;
					color: black;
					border-color: black;
					border-radius: 100px 0px 0px 100px;
				}

				#modalStartContinue:active {
					border-width: 0px 50px 0px 0px;
					border-color: #00ff00;
					transition: 0s;
				}

	#storyBtnTitle {
		font-size: 100px;
		color: #cccccc;
		margin: 0px 0px;
		background-color: #595959;
		width: 1200px;
		padding: 0px 0px;
		text-align: center;
		transition: 0.3s;
		border-left-style: solid;
		border-width: 0px 0px 0px 30px;
		border-color: white;
	}

				#storyBtnTitle:hover {
					width: 90%;
					background-color: #d9d9d9;
					color: black;
					cursor: pointer;
					border-color: #660000;
					border-radius: 0px 100px 100px 0px;
				}

				#storyBtnTitle:active {
					border-width: 50px;
					border-color: black;
					transition: 0s;
					width: 1708px;
				}

	#modalStory {
		display: none;
		position: fixed;
		z-index: 1;
		height: 100%;
		width: 100%;
		overflow: auto;
		left: 0px;
		top: 0px;
		background-color: rgba(0,0,0,0.5);
	}

	#modalStoryText {
		font-size: 30px;
		background-color: white;
		color: black;
		width: 700px;
		height: 300px;
		padding: 40px;
		margin: 200px auto 100px auto;
	}

	#modalStoryClose {
		font-size: 75px;
		color: #cccccc;
		margin: 0px 0px;
		background-color: #595959;
		width: 1200px;
		padding: 20px;
		text-align: center;
		transition: 0.3s;
		border-left-style: solid;
		border-width: 0px 0px 0px 30px;
		border-color: white;
		border-radius: 0px 25px 25px 0px;
		outline: none;
		font-family: BalooTamma;
	}

				#modalStoryClose:hover {
					width: 90%;
					background-color: #d9d9d9;
					color: black;
					cursor: pointer;
					border-color: black;
					border-radius: 0px 100px 100px 0px;
				}

				#modalStoryClose:active {
					border-left-width: 50px;
					border-color: red;
					transition: 0s;
					width: 1708px;
				}

	#manualTitle {
		font-size: 100px;
		color: #cccccc;
		margin: 0px 0px;
		background-color: #595959;
		width: 1200px;
		padding: 0px 0px;
		text-align: center;
		transition: 0.3s;
		border-radius: 0px 0px 300px 0px;
		border-left-style: solid;
		border-width: 0px 0px 0px 30px;
		border-color: white;
	}

				#manualTitle:hover {
					width: 90%;
					background-color: #d9d9d9;
					color: black;
					cursor: pointer;
					border-color: #145214;
					border-radius: 0px 100px 100px 0px;
				}

				#manualTitle:active {
					border-left-width: 50px;
					border-color: black;
					transition: 0s;
				}
	#modalManual {
		display: none;
		position: fixed;
		z-index: 1;
		height: 100%;
		width: 100%;
		overflow: auto;
		left: 0px;
		top: 0px;
		background-color: rgba(0,0,0,0.5);
	}

	#modalManualText {
		font-size: 30px;
		background-color: white;
		color: black;
		width: 700px;
		height: 250px;
		padding: 40px;
		margin: 200px auto 100px auto;
	}

	#modalManualClose {
		font-size: 75px;
		color: #cccccc;
		margin: 0px 0px;
		background-color: #595959;
		width: 1200px;
		padding: 20px;
		text-align: center;
		transition: 0.3s;
		border-left-style: solid;
		border-width: 0px 0px 0px 30px;
		border-color: white;
		border-radius: 0px 25px 25px 0px;
		outline: none;
		font-family: BalooTamma;
	}

				#modalManualClose:hover {
					width: 90%;
					background-color: #d9d9d9;
					color: black;
					cursor: pointer;
					border-color: black;
					border-radius: 0px 100px 100px 0px;
				}

				#modalManualClose:active {
					border-left-width: 50px;
					border-color: red;
					transition: 0s;
				}

/*START*/



/*SCENES*/

	#sceneP {
		float: left;
		font-size: 25px;
		color: white;
		background-color: #595959;
		border-width: 0px 0px 0px 20px;
		border-style: solid;
		padding: 10px 30px;
		border-color: black;
		border-radius: 0px 0px 25px 0px;
		width: 600px;
		line-height: 50px;
		transition: .3s;
		margin: 0px;
		display: none;
	}

				#sceneP:hover {
					opacity: 0.3;
					cursor: zoom-in;
				}

	#nextButton {
		float: right;
		transition: .3s;
		outline: none;
		font-size: 25px;
		color: white;
		background-color: #595959;
		border-width: 0px 10px 0px 0px;
		border-style: solid;
		padding: 30px;
		border-color: white;
		width: 300px;
		border-radius: 0px 0px 0px 100px;
		font-family: Archivo;
		font-size: 25px;
		display: none;
	}

				#nextButton:hover {
					border-radius: 50px 0px 0px 50px;
					width: 400px;
					background-color: white;
					color: black;
					border-color: black;
					cursor: pointer;
				}

				#nextButton:active {
					transition: 0s;
					border-width: 0px 20px 0px 0px;
				}

	#prevButton {
		position: fixed;
		top: 350px; 
		transition: .3s;
		outline: none;
		font-size: 25px;
		color: white;
		background-color: #595959;
		border-width: 0px 0px 0px 10px;
		border-style: solid;
		padding: 30px;
		border-color: white;
		width: 300px;
		border-radius: 0px 100px 100px 0px;
		font-family: Archivo;
		font-size: 25px;
		display: none;
	}

				#prevButton:hover {
					width: 400px;
					background-color: white;
					color: black;
					border-color: black;
					cursor: pointer;
				}

				#prevButton:active {
					transition: 0s;
					border-width: 0px 0px 0px 20px;
				}

	#realStart {
		position: relative;
		font-size: 40px;
		padding: 30px;
		background-color: #800000;
		color: black;
		top: 550px;
		width: 200px;
		margin: 0px auto;
		text-align: center;
		border-top: solid 20px #330000;
		border-bottom: solid 20px #330000;
		border-radius: 100% 0px 100% 0px;
		transition: .3s;
		display: none;
	}

				#realStart:hover {
					border-style: double;
					border-color: red;
					background-color: yellow;
					color: blue;
					cursor: pointer;
				}

/*SCENES*/



/*GAME*/

	#fourK {
		position: relative;
		float: left;
		color: yellow;
		margin: 0px 5px;
		display: none;
		width: 200px;
	}

	#welcome {
		text-align: center;
		width: 1200px;
		margin: 0px auto;
		font-size: 100px;
		color: yellow;
		display: none;
	}

	#foot {
		text-align: center;
		width: 600px;
		margin: 0px auto;
		font-size: 50px;
		color: yellow;
		display: none;
	}

	#difficultyChoose {
		text-align: center;
		width: 600px;
		margin: 0px auto;
		font-size: 50px;
		color: blue;
		display: none;
	}

	#difficultyDiv {
		margin: 100px auto 0px auto;
		width: 1780px;
		display: none;
	}

	#difficultyDiv button {
		font-family: BalooTamma;
		font-size: 50px;
		margin: 0px 0px 0px 70px;
		padding: 20px;
		background-color: yellow;
		color: red;
		border-style: solid;
		border-width: 20px;
		border-color: blue;
		width: 500px;
		outline: none;
		}
				#difficultyDiv button:hover {
					cursor: pointer;
					background-color: red;
					border-color: yellow;
					color: blue;
				}

	#difficultyDisplay {
		position: relative;
		color: yellow;
		margin: 0px 5px;
		display: none;
		left: 1710px;
		width: 200px;
		text-align: right;
	}

	#EnterName {
		display: none;
		margin: 50px auto;
		font-size: 50px;
		border-style: solid;
		border-color: blue;
		border-width: 10px;
		outline: none;
	}

	#nameDisplay {
		position: relative;
		color: yellow;
		margin: 0px 5px;
		display: none;
		float: right;
		width: 200px;
		text-align: right;
	}

	#puzzleDiv {
		display: none;
		margin: 50px auto auto auto;
		width: 900px;
		height: 700px;
		border-style: solid;
		border-width: 20px;
		border-color: yellow;
	}

	#levelName {
		color: blue;
		margin: 0px auto;
		font-size: 50px;
		width: 200px;
		text-align: center;
		position: relative;
		bottom: 825px;
		display: none;
		}

	#puzzlePieceDiv {
		display: none;
		position: relative;
	}

/*GAME*/